workflows/Karakeep.json
{
  "name": "Karakeep",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "b2ab8c19-e16b-46fe-a141-a38f6b35e794",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -60,
        -420
      ],
      "id": "4b30754a-b363-4025-b59b-6d97e53cf69d",
      "name": "Webhook",
      "webhookId": "b2ab8c19-e16b-46fe-a141-a38f6b35e794"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6ca3e06a-0df3-4818-b265-900f514849bb",
              "name": "bookmarkId",
              "value": "={{ $json.body.bookmarkId }}",
              "type": "string"
            },
            {
              "id": "0af438d9-8430-45c4-a5e7-32452fa32276",
              "name": "userId",
              "value": "={{ $json.body.userId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        140,
        -420
      ],
      "id": "a1b713cc-aab5-42a2-bebb-aed4a9905ea2",
      "name": "Karakeep"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.content.type }}",
                    "rightValue": "link",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "745dc8b8-f7a9-4a77-9159-2b6901293080"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "link"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "afa201cb-d887-4f58-8621-863024d0518e",
                    "leftValue": "={{ $json.content.type }}",
                    "rightValue": "text",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "note"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6878d8a9-b91c-43f7-a4ae-2c505d23a73e",
                    "leftValue": "={{ $json.content.type }}",
                    "rightValue": "asset",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "asset"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1100,
        -440
      ],
      "id": "316cd274-f9b0-440a-932c-d7b3653950de",
      "name": "Switch"
    },
    {
      "parameters": {
        "url": "<<KARAKEEP-HOST>>/api/v1/bookmarks/{{ $('Karakeep').item.json.bookmarkId }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer <<AUTH-TOKEN>>"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        620,
        -420
      ],
      "id": "498ad22f-603e-44c4-9e29-76fbcc675eb6",
      "name": "API Karakeep"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        -620
      ],
      "id": "31ffea97-8868-48ce-b117-2252cf491934",
      "name": "Link Payload"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        380,
        -420
      ],
      "id": "78d79239-11f4-498b-92f2-8dc18ea72f7f",
      "name": "Wait",
      "webhookId": "b6b6642e-1946-428e-b330-f2cda808fe78"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "83fccc2b-ef8b-4f65-83cb-db3bba8265aa",
              "leftValue": "={{ $json.taggingStatus || $json.bookmarks.last().taggingStatus}}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        840,
        -420
      ],
      "id": "eb07259e-6ae2-41ec-9a58-8a9985823ed7",
      "name": "If"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "links",
          "mode": "list",
          "cachedResultName": "links"
        },
        "embeddingBatchSize": 768,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.1,
      "position": [
        1620,
        -620
      ],
      "id": "f116fb50-4b6b-464b-9f70-98681914fd32",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "LJESVQbe7rijrOFF",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/text-embedding-004"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        1620,
        -360
      ],
      "id": "7bd5f7e0-1ab4-41ad-8b71-ed970efa5c70",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "DKfS69eaqMky72kI",
          "name": "Alura - Google Gemini"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "=Título: {{ $('Link Payload').item.json.content.title }}\nDescrição: {{ $('Link Payload').item.json.content.description }}",
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "title",
                "value": "={{ $json.content.title }}"
              },
              {
                "name": "description",
                "value": "={{ $json.content.description }}"
              },
              {
                "name": "url",
                "value": "={{ $json.content.url }}"
              },
              {
                "name": "createdAt",
                "value": "={{ $json.createdAt }}"
              },
              {
                "name": "tags",
                "value": "={{ $json.tags }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        1800,
        -440
      ],
      "id": "747767a8-18eb-418e-983b-27175f41caa0",
      "name": "Default Data Loader"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.textSplitterTokenSplitter",
      "typeVersion": 1,
      "position": [
        1820,
        -220
      ],
      "id": "d53135da-0f89-441b-99ea-52fd608b14d0",
      "name": "Token Splitter"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        -260
      ],
      "id": "4ca958f2-ecb3-485a-8636-e0f35e62c7ba",
      "name": "Asset Payload",
      "disabled": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": []
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1300,
        -440
      ],
      "id": "c2d834f6-4708-4a7a-8425-6537cc7fcd48",
      "name": "Note Payload",
      "disabled": true
    },
    {
      "parameters": {
        "content": "## Karakeep \n**Double click** to edit me. [Guide](https://docs.n8n.io/workflows/sticky-notes/)",
        "height": 360,
        "width": 980
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        -540
      ],
      "id": "b701c396-8e70-4fdc-9322-f89510131e77",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Bookmark",
        "height": 220,
        "width": 180,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1260,
        -680
      ],
      "id": "5e3b4451-9a44-4268-bc9f-5ee07ab12b39",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Banco Vetorial",
        "height": 660,
        "width": 540,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1560,
        -680
      ],
      "id": "eb32c39e-d202-4ba9-9d87-ed538eaece9c",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "# Imersão IA 2025 - Alura + Google Gemini\n\n\n![Alura](https://cdn-wcsm.alura.com.br/2025/04/top5-projetos-imersao-ia.jpg)",
        "height": 1380,
        "width": 2220,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -100,
        -1380
      ],
      "id": "17f8d458-3478-4fe2-9216-c540db4ef66e",
      "name": "Sticky Note3"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Karakeep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Karakeep": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Link Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Note Payload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asset Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "API Karakeep": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link Payload": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "API Karakeep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Token Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "0ca9a692-b12d-4664-a54d-67275c25900c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "aacc2638d828cd1ab26eb530987136862176b658f39bb7d29d4770301e6758d1"
  },
  "id": "DJOXhNiW45o0HJAH",
  "tags": []
}